


#header{
	background: url(../img/AgriInvest-Tractor.jpg) no-repeat 50% 80%/cover;
	min-height: 750px;
	
	width: 100%;


}
@media screen and (max-width:992px) {
	#header{
	min-height: 1250px;
}
.nav-item{
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}
.navbar-brand{
	position: absolute;
}
.hdn-tx{
	display: none !important;
}
}
/*.hd-1-1{
	font-size: 20px !important;
	font-weight:bold;
}*/


/*.header-sheath{
	background: #0A1326;
	position: absolute;
	opacity: 0.5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
}*/

.navbar-nav{
	width: 100%;
}
.navbar-brand{
	background: url(../img/Ll.png) yellow no-repeat 50% 50%/cover;
	height: 60px;
	width: 60px;
	border-radius: 5px;
/*	position: absolute;
	top: 5px;*/

}
.ft-1{
	color:#fff;
	font-size: 15px;
	align-items: center;
	align-content: center;
	display: flex;
}
.br-2{
	position: relative;
	top: 5px;
}
.navbar{
	z-index: 99;
}
.header_left-text{
	color:#fff;
}
.block-yellow{
	background: #FFF700;
	width: 280px;
	height: 2px;
	margin-top: 40px;
	margin-bottom: 10px;
}
.form-hd-block{
	padding: 30px 20px 10px;
	

	background: yellow;
	border-radius: 5px;
}
.navbar-nav .nav-link{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.tel-hd{
	font-size: 20px;
}
.fl-box{
	margin-top: 50px;
	height: 250px;
}
.text-form-hd{
	color: #282828;
	text-align: center;
}
.exampleInputEmail1{
	color: #282828 !important;
}
.mal_sr{
	font-size: 12px;
	color: #282828;
	text-align: center;
	margin-top: 15px;
}
.sm-hd{
	color: #fff;
	font-size: 16px;
	margin-left: 15px;
}
.mrt{
	margin-top: 50px;
}
.btn-hd{
	padding: 8px 30px !important;
}
.i-1{
	width: 75px;
	height: 75px;
}
.i-2{
	width: 100px;
	height: 100px;
}

/*text*/
.hd-1{
	font-size: 16px;
}
.hd-1-1{
	font-size: 20px;
	font-weight: bold;
}
.hd-clr{
	color: #20538a !important;
}
.psv-tech{
	font-size: 40px;
}
.psv-tech-sm{
	font-size: 25px;
	font-weight: 300;
}
.hd-zaya{
	font-size: 22px;
	line-height: 30px;
}
.hd-zaya span{
	background: #282828;
	color: #fff;
	padding: 3px 10px;
}
.btn{
	cursor: pointer !important;
}


/*contentx*/
.contentx{
	min-height: 600px;
}
.h2-cont{
	margin-top: 50px;
	margin-bottom: 50px;
}
.card{
	margin-top: 20px !important;
	transition: all 0.5s;
-webkit-box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.75);
box-shadow: 0px 0px 51px -11px rgba(0,0,0,0.75);
}
.card:hover{
	transition: all 0.3s;
	-webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75) !important;
-moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75) !important;
box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75) !important;
}
.card-title{
	font-size: 17px;
	line-height: 25px;
}
/*bist*/
.bist{
	
	background: url(../img/farm.png)no-repeat 50% 50%/cover;
	min-height: 700px;
	padding-bottom: 55px;
}
.bist-title{
	padding-top: 50px;
}
.bist-yellow{
		margin-top: 40px;
	background: yellow;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 25px;
	margin-bottom: 50px;
}
.ul-bist{
	margin-top: 50px;
		font-size: 22px;
	line-height: 40px;
}
/*about*/
.about{
	margin-top: 50px;
	min-height: 500px;
}
.about-title{
	margin-bottom: 50px;
}
.ul-about{
	margin-top: 30px;
}
.ul-about li{
	font-size: 22px;
	line-height: 40px;
}
.zavod-about{
	margin-top: 40px;
	background: yellow;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 25px;
}
.serv{
	background: url(../img/remont1.png)no-repeat 50% 10%/cover;	
	min-height: 700px;
}
.serv-title{
	padding-top: 50px;
	margin-bottom: 35px;
}
.serv-title-p{
	margin-bottom: 35px;
}
.contact{
	min-height: 500px;
}
.cont-clr{
	background:#1a2652;
	width: 100%;
	height: 500px;
}
.cont-ttl{
	font-size: 25px;
	color: #fff;
	list-style: none;
	line-height: 50px;
}
.cont-ttl span{
	color: yellow;
}
.foot{
	background: #282828;
	width: 100%;
	min-height: 70px;
}

@media screen and(max-width: 600px) {
.psv-tech{
	font-size: 30px;
}
.psv-tech-sm{
	font-size: 20px;
	font-weight: 300;
}
.sm-hd{
	color: #fff;
	font-size: 14px;
	margin-left: 15px;
}
.sm-hd br{
	display: none;
	align-items: center;
	align-content: center;
	display: flex;
}
.ul-about li{
	font-size: 20px;
	line-height: 35px;
}
.ft-1{
	font-size: 16px;
	justify-content: center;
}
}